<div class="item">
<div id="news_title"></div>
<div id="news_content">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
<td colspan="3" width="100%"><div style="float: left; width: 260px;"><h2 style="text-shadow: 1px 1px 2px #1a1a1a"><a href="$gallery[link1]" target="_blank" class="colr fsand">$gallery[name]</a></h2></div> <div style="float: right;">$anzcomments</div></td>
<tr>
<tr>
<td colspan="3" style="padding: 0px 0px 5px 0px; color: #9a9a9c; font-size: 11px; font-weight: 700; text-transform: uppercase; text-shadow: 1px 1px 2px #1a1a1a">Album</td>
<tr>
<tr>
<td colspan="3" style="padding: 5px 0px;" align="center"><div style="background: #000000; -moz-box-shadow: inset 0px 0px 10px 0px #000;  -webkit-box-shadow: inset 0px 0px 10px 0px #000;  box-shadow: inset 0px 0px 10px 0px #000; border: 1px solid #0e1f33;"><img src="$gallery[thumb]" width="305px" /></div></td>
<tr>
<tr>
<td style="padding-top: 5px; color: #485f7e; text-transform: uppercase; font-size: 11px;" width="54%">$gallery[date]</td>
<td style="padding-top: 5px; color: #485f7e; text-transform: uppercase; font-size: 11px;" width="54%"></td>
<td style="padding-top: 5px;" width="38%" align="right"></td>
<tr>
</table>
</div>
<div id="news_content_footer"></div>
</div>