<div style="width: 640px; margin: 0px 0px 10px 0px;">
<div style="padding: 10px">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
        <td valign="top" style="width: 58px; height: 58px; padding-right: 10px;"><a href="index.php?site=profile&id=$ds[userID]">$avatar</a> <br \><div style="float: left; margin: 5px 0px 0px 4px"><a href="$facebook"><img style="border-radius: 3px;" src="images/fb.png" /></a> <a href="$twitter"><img style="border-radius: 3px;" src="images/tw.png" /></a></div></td>
        <td align="left" valign="top" style="width: 938px"><b>$poster</b> $email $pm <font style="font-size: 10px;">$date</font> <div style="float: right">$quote $edit $actions</div> <br \> $content</td>
  </tr>
</table>
</div>
</div>
<!-- $hr -->