<script>
var RecaptchaOptions = {
   theme : 'white',
   tabindex : 2
};
</script>


        %description%<br /><br />
        <div align="center">
        $showerror
        </div>
        <form action="index.php?site=contact" method="post">
        <input type="hidden" name="action" value="send" />
        <div class="form-group">
            <label for="getemail">Receiver</label>
            <select class="form-control" name="getemail">$getemail</select>
        </div>
		
		<div class="form-group">
            <label for="name">%name%</label>
            <input class="form-control" name="name" value="$name" placeholder="Enter name" size="40" />
        </div>
		
        <div class="form-group">
            <label for="from">%mail%</label>
            <input class="form-control" name="from" value="$from" placeholder="Enter Email" size="40" />
        </div>

        <div class="form-group">
            <label for="subject">%subject%</label>
            <input class="form-control" name="subject" value="$subject" placeholder="Enter Subject" size="40" />
        </div>
		
		<div class="form-group">
          <label for="message">%message%</label><tr>
          <textarea name="text" class="form-control" cols="50" rows="6" style="width:99%;">$text</textarea>
		</div>
		
		<center><b>%security_code%:</b> <br \> $recaptcha <br \><br \></center>
		
		<center>
			<input class="btn btn-success" type="submit" value="%send%" />
            <input class="btn btn-danger" type="reset" value="%reset%" />
		</center>
		
        </form>