<div id="login_div">
	<div style="float: left; background: #FFF; margin-top: 0px; padding: 3px 10px 3px 3px; z-index: 2; position: relative; text-transform: uppercase"><h3><font style="font-weight: 400">STEAM AUTH</font> LOGIN<h3></div>
	<div style="float: left; margin-top: -14px; margin-bottom: 20px; border-top: 1px solid #d9d9d9; width: 100%; z-index: 1; position: relative"></div>
	<div id="clear"></div>
	<div align="center" id="login_response"></div>
<form method="post" name="login" action="checklogin.php" id="login_form"> 
<a href="$e"><img src="$c" /></a><br \> Welcome back $b </br> Insert password to login! <br \>
<input style="width: 209px; margin-bottom: 5px" name="pwd" type="password" value="Password" onfocus="this.value=''" />
<input type="hidden" name="ws_user" value="$a" />
<input style="float: right; width: 75px; margin: 5px auto; height: 21px; border: 0px; cursor: pointer;" type="submit" name="submit" value="Login"  /> <div style="float: right; margin: 6px 5px 0px 0px"><img id="loading_img" src="images/loading.GIF" style="display:none; width: 36px; height: 18px" alt="Cargando..."/></div>
<div style="clear:both; margin: 0; padding: 0;"></div>
<div align="right" style="line-height: normal; margin: 10px 5px 5px 0px;"><a style="font-size: 10px; color: #4c3b33; font-weight: normal" href="index.php?site=lostpassword">Password?</a></div>

</form>
</div>