<div class="item">
<div class="article_list_big_1">
<div class="thumb_wrapper" style="margin-bottom: 0px;">
<div class="gradient_shadow"></div>
<a href="index.php?site=videos&action=category&movcatID=$movcatID">
<img src="images/movies/cat/$movcatimg" style="height: 130px" alt="Image">
</a>
<div class="meta_wrapper">
<h3><a href="index.php?site=videos&action=category&movcatID=$movcatID">$movcatheadline</a></h3>
<div class="content_meta">
<span class="videos">$videocount videos</span>
</div>
</div>
</div>
</div>
</div>