<div style="clear:both"></div>
<center><div><div class="fluid-width-video-wrapper" style="padding-top: 56.25%"><iframe src="https://www.youtube.com/embed/$ytvcode" frameborder="0" allowfullscreen></iframe></div></div></center>

<div style="margin: 20px 0px">
<h1 style="text-align: justify; height: 50px"><a href="index.php?site=videos&action=show&id=$movID">$ar[movheadline]</a></h1>
<p>$des</p>	
</div>

<h3 class="violet">Share</h3>
<div class="ns_space10"></div>
<div class="grid grid_3 percentage">
	<a href="http://$hp_url%2Fvideos%2Fshow%2F$ar[movID]%2F" target="popup" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://$hp_url%2Fvideos%2Fshow%2F$ar[movID]%2F','popup','width=600,height=600'); return false;" class="facebook"><div class="ns_bg_bluedark">
		<p class="white" style="text-align: center; padding: 10px 0px">Facebook</p>
	</div></a>
</div>
<div class="grid grid_3 percentage">
	<a href="http://$hp_url%2Fvideos%2Fshow%2F$ar[movID]%2F" target="popup" onclick="window.open('https://twitter.com/intent/tweet?original_referer=http://$hp_url%2Fvideos%2Fshow%2F$ar[movID]%2F&amp;ref_src=twsrc%5Etfw&amp;text=$ar[movheadline]&nbsp;@&amp;tw_p=tweetbutton&amp;url=http://$hp_url%2Fvideos%2Fshow%2F$ar[movID]%2F','popup','width=600,height=600'); return false;" class="twitter"><div class="ns_bg_blue">
		<p class="white" style="text-align: center; padding: 10px 0px">Twitter</p>
	</div></a>
</div>
<div class="grid grid_3 percentage">
	<a href="http://$hp_url%2Fvideos%2Fshow%2F$ar[movID]%2F" target="popup" onclick="window.open('https://plus.google.com/share?url=http://$hp_url%2Fvideos%2Fshow%2F$ar[movID]%2F','popup','width=600,height=600'); return false;" class="google"><div class="ns_bg_orange">
		<p class="white" style="text-align: center; padding: 10px 0px">Google+</p>
	</div></a>
</div>
<div class="grid grid_3 percentage">
	<a href="mailto:?subject=I wanted you to see this video&amp;body=Check out this video: $ar[movheadline] @ http://$hp_url%2Fvideos%2Fshow%2F$ar[movID]%2F" title="Share by Email" class="email"><div class="ns_bg_greydark">
		<p class="white" style="text-align: center; padding: 10px 0px">Email</p>
	</div></a>
</div>
<div class="ns_space40"></div>