<div class="item">
<div class="item_header">
<div class="gradient_shadow"></div>
<a href="article/$ds[newsID]">
<img src="$pic" alt="Image">
</a>
</div>
<div class="item_wrapper">
<div class="item_content">
<h4><a href="article/$ds[newsID]">$headline</a></h4>
<p>$intro</p>
</div>
<div class="content_meta">
<span class="category">$rubrikname_link</span>
<span class="date">$date</span>
</div>
<div class="footer_wrapper">
<a href="article/$ds[newsID]" class="btn">%read_more%</a>
</div>
</div>
</div>