<h3>Filters</h3>

      <ul id="filters" class="option-set clearfix" data-option-key="filter">
        <li><a href="#filter" data-option-value="*" class="selected">Show All</a></li>
        $games
        <li><a href="#filter" data-option-value=".news">General News</a></li>
        <li><a href="#filter" data-option-value=".event:not(.news)">Event News</a></li>
        <li><a href="#filter" data-option-value=".blogs">Blogs</a></li>
        <li><a href="#filter" data-option-value=".interviews">Interviews</a></li>
        <li><a href="#filter" data-option-value=".videos">Videos</a></li>
      </ul>
