<div style="position: relative; margin-bottom: 0px; float: left; width: $width; margin-right: 0px; height: $height;">
<div style="float: left; position: relative; width: 100%; height: $height; opacity: 1; overflow: hidden; background: url($pic1) no-repeat center center;background-size: cover;">
  <div style="float: right; position: absolute; right: 10px; font-weight: 700; text-transform: uppercase; top: 10px; background: #ca1721; color: #FFF; padding: 5px 8px; text-align: right;">$type</div> 
  <div id="clear"></div>
  <div style="float: left; width: 100%; height: auto;">
	<div class="newsbody-news" style="$style">
		<div style="padding: $padding; position: absolute; bottom: 10px; left: 10px; right: 10px"><a style="color: #FFF; font-size: 16px; text-transform: uppercase;" href="index.php?site=article&amp;newsID=$newsID"><b>$headline</b></a> $intro</div>
	</div>
	
	$star
  </div>
</div>
</div>