<br />
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="table table-hover">
    <tr>
      <td colspan="4" style="background-color: #4f5259; color: #FFFFFF">%category%: <a href="admincenter.php?site=galleries&amp;groupID=$groupID" class="titlelink">$title</a></td>
    </tr>
  <tr>
    <td colspan="4"><small>$gallerys %galleries% / $pics %pictures%</small></td>
  </tr>
  <tr>
    <td colspan="4"><a href="admincenter.php?site=galleries&amp;groupID=$groupID"><b>%show_galleries%</b></a></td>
  </tr>
  <tr>
    <td colspan="4"><b>%latest_gallery%</b></td>
  </tr>
  <tr>
    <td width="100">&nbsp;</td>
    <td width="100"><b>%date%</b></td>
    <td><b>%name%</b></td>
    <td width="80"><b>%pictures%</b></td>
  </tr>