  <tr>
    <td align="center" valign="top">$pic[image]</td>
    <td align="left" valign="top"><b>%name%:</b> $pic[name]<br />
    <b>%gallery%:</b> $pic[gallery]<br />
    <b>%date%:</b> $pic[date]<br />
    <a href="admincenter.php?site=galleries&amp;picID=$pic[picID]"><b>%comments%:</b> $pic[comments]</a><br /><br />
    <a href="admincenter.php?site=galleries&amp;groupID=$pic[groupID]">[%category%]</a>
    <a href="admincenter.php?site=galleries&amp;galleryID=$pic[galleryID]">[%gallery%]</a>
    <a href="admincenter.php?site=galleries&amp;picID=$pic[picID]">[%picture%]</a></td>
  </tr>