<td valign="top">
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="table table-hover">
  <tr>
    <td width="20%"><a href="admincenter.php?site=galleries&amp;galleryID=$gallery[galleryID]"><img src="$gallery[pic]" border="0" width="$thumbwidth" alt="" /></a></td>
    <td valign="top">
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="table table-hover">
      <tr>
        <td><a href="admincenter.php?site=galleries&amp;galleryID=$gallery[galleryID]"><b>$gallery[name]</b></a></td>
      </tr>
      <tr>
        <td><b>Pictures:</b> $gallery[pics]</td>
      </tr>
      <tr>
        <td><b>Date:</b> $gallery[date]</td>
      </tr>
    </table>
    </td>
  </tr>
</table>
</td>