<td width="$percent%" valign="top">
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="table table-hover">
  <tr>
    <td width="20%"><a href="admincenter.php?site=galleries&amp;picID=$pic[picID]"><img src="$pic[pic]" border="0" width="$thumbwidth" alt="" /></a></td>
    <td valign="top">
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="table table-hover">
      <tr>
        <td><div style="overflow:hidden;"><a href="admincenter.php?site=galleries&amp;picID=$pic[picID]"><b>$pic[name]</b></a></div></td>
      </tr>
      <tr>
        <td><b>Views:</b> $pic[views]</td>
      </tr>
    </table>
    </td>
  </tr>
</table>
</td>