<a name="picture"></a>
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="table table-hover">
    <tr>
      <td colspan="3" style="background-color: #4f5259; color: #FFFFFF">$group &gt; $gallery &gt; $picturename</td>
    </tr>
  <tr>
    <td colspan="3" align="center"><img src="../picture.php?id=$picID" border="0" $width alt="" /><br /><small>($views views)</small><br /><br />$adminaction<br /><br /></td>
  </tr>
  <tr>
        <td align="left" width="33%">$backward</td>
        <td align="center" width="33%"><a href="admincenter.php?site=galleries&amp;galleryID=$ds[galleryID]">Back to Gallery</a></td>
        <td align="right" width="33%">$forward</td>
  </tr>
</table>