<script language="JavaScript" type="text/javascript">
<!--
function chkFormular() {
	if(document.getElementById('message').value == "") {
		alert('%enter_message%');
		document.getElementById('message').focus();
   		return false;
	}
	if(!validbbcode(document.getElementById('message').value)){
		return false;
	}
	
}
-->
</script>

<h3 style="margin-top: 0px">%edit_comment%</h3>

<form id="post" name="post" action="comments.php" class="comments-form"  method="post" onsubmit="return chkFormular()">

	<div class="comment-author-pic">
        $avatar
    </div>
    <textarea class="form-control" name="message" id="message">$message</textarea>
	<br \>
    <div class="submit">
        <input type="hidden" name="authorID" value="$ds[userID]" />
        <input type="hidden" name="commentID" value="$id" />
        <input type="hidden" name="referer" value="$referer" />
        <input type="hidden" name="userID" value="$userID" />
        <input class="btn btn-primary" type="submit" name="saveeditcomment" value="%edit_comment%" /></td>
    </div>
</form>
         