<div id="login_div">
	<div style="float: left; background: #FFF; margin-top: 0px; padding: 3px 10px 3px 3px; z-index: 2; position: relative; text-transform: uppercase"><h3><font style="font-weight: 400"></font>Inicio de Sesión<h3></div>
	<div style="float: left; margin-top: -14px; margin-bottom: 20px; border-top: 1px solid #d9d9d9; width: 100%; z-index: 1; position: relative"></div>
	<div id="clear"></div>
	<div align="center" id="login_response"></div>
<form method="post" name="login" action="checklogin.php" id="login_form"> 
<label><b>Email:</b></label>
<input style="width: 209px; margin-bottom: 5px" name="ws_user" type="text" value="Email" onfocus="this.value=''" />
<label><b>Password:</b></label>
<input style="width: 209px; margin-bottom: 5px" name="pwd" type="password" value="Password" onfocus="this.value=''" />
<input style="float: right; width: 95px; margin: 5px auto; height: 21px; border: 0px; cursor: pointer;" type="submit" name="submit" value="Iniciar Sesión"  /> <div style="float: right; margin: 6px 5px 0px 0px"><img id="loading_img" src="images/loading.GIF" style="display:none; width: 36px; height: 18px" alt="Cargando..."/></div>
<div style="float: left"><a href="?login"><img src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png" style="float: left; margin-top: 12px;" height="36px"></a></div>
<div style="float: right; line-height: normal; margin: 10px 5px 5px 0px;"><a style="font-size: 10px; color: #4c3b33; font-weight: normal" href="index.php?site=lostpassword">¿Contraseña perdida?</a></div>

<script type="text/javascript">
	/* <![CDATA[ */
	LoginOptions = {
		width: "null", // null or the width in px
		CSSclass: "errorbox", // null or a css class name
		toURL: 'index.php?site=home'
	};
	
	// End of Config
	
	// Loading the language vars
	language_array['checklogin_ajax'] = new Array();
	fetch('getlang.php?modul=checklogin_ajax&mode=array','none','execute','event');
	
	form = document.getElementById('login_form');
	form.onsubmit = function(e){
		document.getElementById('loading_img').style.display = "";
		fetch("checklogin_ajax.php?ws_user="+form.elements['ws_user'].value+
															"&pwd="+form.elements['pwd'].value+
															"&submit=true"
					,loginCallback,"callback","event");
		return false;
	}
	
	function writeLoginResponse(string){
		elem = document.getElementById('login_response');
		if (LoginOptions.width != null) {
			elem.style.width = LoginOptions.width;
		}
		if (LoginOptions.CSSclass != null) {
			elem.className = LoginOptions.CSSclass;
		}
		elem.innerHTML = string;
	}
	
	function loginCallback(response){
		document.getElementById('loading_img').style.display = "none";
		res = response.substr(0,1);
		switch(res){
			case "0":
				writeLoginResponse(language_array['checklogin_ajax']['session_error']);
				break;
			case "1":
				fetch(LoginOptions.toURL,loginCallback2,"callback","event");
				break;
			case "2":
				writeLoginResponse(language_array['checklogin_ajax']['invalid_password']);
				break;
			case "3":
				writeLoginResponse(language_array['checklogin_ajax']['not_activated']);
				break;
			case "4":
				writeLoginResponse(language_array['checklogin_ajax']['no_user'].replace(/%username%/g, form.elements['ws_user'].value));
				break;
			case "5":
				writeLoginResponse(language_array['checklogin_ajax']['ip_banned'].replace(/%reason%/g, response.substr(1)));
				break;
			default:
				writeLoginResponse(language_array['checklogin_ajax']['error']);
		}
  }
	
	function loginCallback2(response){
		document.open();
		document.write(response);
		document.close();
	}
	/* ]]> */
</script>
</form>



