					<li class="ns_border_grey">
                        <div class="ns_margin20 ns_relative">
                        <img alt="" class="ns_absolute ns_radius" style="width:60px;" src="$pic">
                        <div class="ns_activity ns_marginleft80">
                            <h5 class="grey"><a href="index.php?site=videos&action=show&id=$movID">$ar[movheadline]</a></h5>                        
                            <div class="ns_space10"></div>
							<p>$type</p>
                        </div></div>
                    </li>