
<div style="margin: 0px; border: 1px solid #d6dae0; background: #FFFFFF; padding: 10px; border-radius: 2px 2px 2px 2px; -moz-border-radius: 2px 2px 2px 2px; -webkit-border-radius: 2px 2px 2px 2px;">
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td align="left" bgcolor="$bg2">

<p style="padding:5px;font-size:18px;">Choose the type of membership you want.
<br><br><font size="-1">
<b>Members</b> This is the regular membership which requires you to fill out your personal information. This is completely free, however, the community gets funding for each member and the members will be able to use all of the community features, take part in giveaways and competitions and apply to be a part of our playing teams/crew.
<br><br><b>Semi Member</b> This type of membership does not require you to fill out your personal information. The community does not get funding for its semi members. Semi members will not be able to take part in most of our competitions and giveaways, they will not be able to use all of the community features and they cannot be part of our playing teams or crew. Semi members do not have voting rights on our annual meetings.</font></p>
<br>

<form method="post" name="post" action="">
	<a href="index.php?site=register&member=member#content" style="color:#FFF;margin-left:25px;" class="sitebutton" target="_self" alt="Member Renewal">Member</a>
	<a href="index.php?site=register&member=semi#content" style="color:#FFF;" class="sitebutton" target="_self" alt="Semi-Member Renewal">Semi Member</a>
</form>

</td>
</tr>
</table>
</div>