<div id="box">
<div style="position: relative; float: left; width: 239px; height: 88px; border: 1px solid #322c2c; opacity: 1; background: #110d0c url($pic) no-repeat center center; background-size: 110% auto; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;">
<a style="color: #FFF; font-size: 16px; text-transform: uppercase;" href="//www.youtube.com/embed/$res[ytvcode]" class="lightbox" title="$res[title] - $res[intro]">
<div style="width: 100%; height: 100%; background: url(assets/images/videos_hover.png) no-repeat center center;">
		<div class="newsbody">$game <b>$ret</b></div>
</div>
</a>
</div>
</div>
