                    <div class="ns_margin20" style="clear: both;">
                        <div style="float: left; width: 25%">
							<img alt="" style="max-width: 200px; width: 100%; height: auto; max-height: 100%" class="ns_radius" src="images/news_pics/$res[banner]">
						</div>
                        <div style="float: right; width: 70%">
                            <h5 class="grey"><a href="$url1" style="text-transform: uppercase"><b>$ret</b></a></h5>                        
                            <div class="ns_space10"></div>
							<p class="green"><i class="icon-calendar-1 ns_marginright10"></i>$day $month $year<span class="ns_margin010">.</span> $type</p>
							<div class="ns_space10"></div>
							<p>$intro</p>
                        </div>
						<div class="ns_space40"></div>
					</div>