<div class="item">
<div class="label">$cat</div>
<div class="item_header">
<div class="video_icon"><i class="fa fa-youtube-play"></i></div>
<!-- <a href="//www.youtube.com/watch?v=$res[ytvcode]" class="magnificPopupIframe" title="$res[title] - $res[intro]"> -->
<a href="index.php?site=videos&action=show&id=$id">
<img src="$pic" style="height: 130px" alt="Image">
</a>
</div>
<div class="item_wrapper">
<div class="item_content">
<h4><a href="index.php?site=videos&action=show&id=$id">$ret</a></h4>
</div>
<div class="content_meta">
<span class="likes">$ratingpic</span>
</div>
</div>
<div class="transition_line"></div>
</div>