<div style="clear:both; height: 20px"></div>
<div style="float: left; width: 665px; overflow: auto;">
<div style="text-align: center; font-size: 14px; font-weight: 700; color: #000">WINNERS BRACKET</div>
<table width="100%" border="0" cellspacing="2" cellpadding="2">
  <tr><td colspan="5"><div style="background: #7492BE; height: 1px; width: 100%; margin: 0px 0px"></div></td></tr>
  <tr height="20px">
    <td width="120px"><div align="center"><strong>ROUND 1</strong></div></td>
    <td width="120px"><div align="center"><strong>ROUND 2</strong></div></td>
    <td width="120px"><div align="center"><strong>ROUND 3</strong></div></td>
    <td width="120px"><div align="center"><strong>FINAL</strong></div></td>
    <td width="120px"><div align="center"><strong>WINNER</strong></div></td>
    </tr>
  <tr><td colspan="5"><div style="background: #7492BE; height: 1px; width: 100%; margin-bottom: 10px"></div></td></tr>
  <tr height="30px">
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wa"><option value=""></option>$wa</select></strong><input name="war" value="$war" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    </tr>
  <tr height="30px">
    <td><div align="center">vs</div></td>
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wq"><option value=""></option>$wq</select></strong><input name="wqr" value="$wqr" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    </tr>
  <tr height="30px">
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wb"><option value=""></option>$wb</select></strong><input name="wbr" value="$wbr" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    </tr>
  <tr height="30px">
    <td><div align="center"></div></td>
    <td><div align="center">vs</div></td>
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wy"><option value=""></option>$wy</select></strong><input name="wyr" value="$wyr" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    </tr>
  <tr height="30px">
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wc"><option value=""></option>$wc</select></strong><input name="wcr" value="$wcr" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    </tr>
  <tr height="30px">
    <td><div align="center">vs</div></td>
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wr"><option value=""></option>$wr</select></strong><input name="wrr" value="$wrr" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    </tr>
  <tr height="30px">
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wd"><option value=""></option>$wd</select></strong><input name="wdr" value="$wdr" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    </tr>
  <tr height="30px">
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center">vs</div></td>
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="f1"><option value=""></option>$f1</select></strong><input name="f1r" value="$f1r" \></div></td>
    <td></div></td>
    </tr>
  <tr height="30px">
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="we"><option value=""></option>$we</select></strong><input name="wer" value="$wer" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    </tr>
  <tr height="30px">
    <td><div align="center">vs</div></td>
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="ws"><option value=""></option>$ws</select></strong><input name="wsr" value="$wsr" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    </tr>
  <tr height="30px">
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wf"><option value=""></option>$wf</select></strong><input name="wfr" value="$wfr" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    </tr>
  <tr height="30px">
    <td><div align="center"></div></td>
    <td><div align="center">vs</div></td>
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wz"><option value=""></option>$wz</select></strong><input name="wzr" value="$wzr" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    </tr>
  <tr height="30px">
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wg"><option value=""></option>$wg</select></strong><input name="wgr" value="$wgr" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    </tr>
  <tr height="30px">
    <td><div align="center">vs</div></td>
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wt"><option value=""></option>$wt</select></strong><input name="wtr" value="$wtr" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    </tr>
  <tr height="30px">
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wh"><option value=""></option>$wh</select></strong><input name="whr" value="$whr" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    </tr>
  <tr height="30px">
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center">vs</div></td>
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="f3"><option value=""></option>$f3</select></strong></div></td>
  </tr>
  <tr height="30px">
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wi"><option value=""></option>$wi</select></strong><input name="wir" value="$wir" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr height="30px">
    <td><div align="center">vs</div></td>
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wu"><option value=""></option>$wu</select></strong><input name="wur" value="$wur" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr height="30px">
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wj"><option value=""></option>$wj</select></strong><input name="wjr" value="$wjr" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr height="30px">
    <td><div align="center"></div></td>
    <td><div align="center">vs</div></td>
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="w1"><option value=""></option>$w1</select></strong><input name="w1r" value="$w1r" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr height="30px">
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wk"><option value=""></option>$wk</select></strong><input name="wkr" value="$wkr" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr height="30px">
    <td><div align="center">vs</div></td>
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wv"><option value=""></option>$wv</select></strong><input name="wvr" value="$wvr" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr height="30px">
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wl"><option value=""></option>$wl</select></strong><input name="wlr" value="$wlr" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr height="30px">
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center">vs</div></td>
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="f2"><option value=""></option>$f2</select></strong><input name="f2r" value="$f2r" \></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr height="30px">
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wm"><option value=""></option>$wm</select></strong><input name="wmr" value="$wmr" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr height="30px">
    <td><div align="center">vs</div></td>
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="ww"><option value=""></option>$ww</select></strong><input name="wwr" value="$wwr" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr height="30px">
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wn"><option value=""></option>$wn</select></strong><input name="wnr" value="$wnr" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr height="30px">
    <td><div align="center"></div></td>
    <td><div align="center">vs</div></td>
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="w2"><option value=""></option>$w2</select></strong><input name="w2r" value="$w2r" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr height="30px">
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wo"><option value=""></option>$wo</select></strong><input name="wor" value="$wor" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr height="30px">
    <td><div align="center">vs</div></td>
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wx"><option value=""></option>$wx</select></strong><input name="wxr" value="$wxr" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr height="30px">
    <td style="background: url(images/team_profile_name.png) no-repeat center center;"><div align="center"><strong><select name="wp"><option value=""></option>$wp</select></strong><input name="wpr" value="$wpr" \></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr height="30px">
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr height="30px">
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    </tr>
</table>
</div>