<table width="100%" cellspacing="1" border="0" cellpadding="3" class="table table-hover">
  <tr>
    <td width="40%" align="center" style="font-size: 20px">$squad</td>
    <td  width="20%" align="center" style="font-size: 20px"><strong>VS.</strong></td>
    <td  width="40%" align="center" style="font-size: 20px">$opponent</td>
  </tr>
  <tr>
    <td width="40%" align="center"><img src="../images/clanwars/$ownlogo" alt="" width="100px" /><br /></td>
    <td  width="20%" align="center" style="font-size:41px;">$results_1 : $results_2</td>
    <td  width="40%" align="center">$opponent_logo<br /></td>
  </tr>
  <tr>
    <td  width="40%" valign="top" align="left">
  <table width="100%" border="0" cellspacing="1" cellpadding="3" class="table table-hover">
      <tr>
    <td ><strong>%squad%:</strong></td>
    <td >$squad</td>
  </tr>
  <tr>
    <td ><strong>$myclantag %team%:</strong></td>
    <td >$hometeam</td>
  </tr>
</table>
    </td>
<td width="20%"  valign="top" align="left"></td>
    <td width="40%"  valign="top" align="left">  <table width="100%" border="0" cellspacing="1" cellpadding="3" class="table table-hover">
      <tr>
        <td width="150"><strong>Team:</strong></td>
        <td >$opponent</td>
      </tr>
      <tr>
        <td ><strong>$opptag %team%:</strong></td>
        <td ><strong>$oppteam</strong></td>
      </tr>
    </table></td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="1" cellpadding="3" class="table table-hover">
<tr>
    <td ><strong>%maps%:</strong></td>
    <td ><strong>$maps</strong></td>
  </tr>
 <tr>
    <td width="150" ><strong>%league%:</strong></td>
    <td >$league <a href="http://$linkpage" target="_blank">[%matchlink%]</a></td>
  </tr>
      <tr>
        <td valign="middle" align="left"><strong>%screenshots%:</strong></td>
        <td valign="middle" align="left" >$screenshots</td>
      </tr>
</table>

<table width="100%" border="0" cellspacing="1" cellpadding="3" style="margin-top:15px;" class="table table-hover">
  <tr>
    <td>$extendedresults</td>
  </tr>
</table>

<strong>Report:</strong><br />
 $report
 
$adminaction