<form method="post" name="form" action="clanwars.php">
<table width="100%" cellspacing="1" border="0" cellpadding="3" class="table table-hover">
  <tr>
    <td align="center"><b>$headdate</b></td>
    <td align="center"><b>$headgame</b></td>
    <td align="center"><b>$headsquad</b></td>
    <td align="center"><b>Opponent:</b></td>
    <td width="10" align="center"><b>$headcountry</b></td>
    <td align="center"><b>$headleague</b></td>
    <td align="center"><b>Result:</b></td>
    <td align="center"><b>Details:</b></td>
    <td align="center"><b>Actions:</b></td>
  </tr>