<table width="100%" cellspacing="0" border="0" cellpadding="2" class="table table-hover">
    <tr>
      <td colspan="6" style="background-color: #4f5259; color: #FFFFFF">Published News Articles</td>
    </tr>
  <tr>
    <td class="title" align="left" width="10%"><a class="titlelink" href="index.php?site=news&amp;action=archive&amp;page=$page&amp;sort=date"><b>Date:</b></a></td>
	<td class="title" width="10%"><b>Category:</b></td>
	<td class="title" width="10%"><b>News or Link?</b></td>
    <td class="title" width="10%"><a class="titlelink" href="index.php?site=news&amp;action=archive&amp;page=$page&amp;sort=poster"><b>Author:</b></a></td>
    <td class="title" width="40%"><b>Headline:</b></td>
	<td class="title" width="25%"><b>Link:</b></td>
    <td class="title"></td>
  </tr>