<div style="padding: 10px; color: #535354">
<table cellpadding="3" cellspacing="1" border="0" class="table table-hover">
  <tr>
    <td width="30px" valign="top"><i class="fa fa-gamepad"></i></td>
    <td ><b>Match</b></td>
    <td >$short <b>$result</b> $opponent <a href="admincenter.php?site=calendar&action=editdate&upID=$ds[upID]">(Edit Match)</a></td>
  </tr>
  <tr>
    <td ></td>
    <td width="100px"><b>Game</b></td>
    <td ><small style="font-size: 14px;">$gameicon $game</small></td>
  </tr>
  <tr>
    <td ></td>
    <td ><b>Date</b></small></td>
    <td >Starts at <small style="font-size: 12px;">$date, $time</small></td>
  </tr>
  <tr>
    <td ></td>
    <td ><b>League</b></small></td>
    <td >$leaguename</td>
  </tr>
  <tr>
    <td ></td>
    <td ><b>Status</b></small></td>
    <td >$status</td>
  </tr>
</table>
</div>